# wakati = MeCab.Tagger("-Osimple -d /usr/lib/x86_64-linux-gnu/mecab/dic/mecab-ipadic-neologd") x86_64linux
# wakati = MeCab.Tagger("-Osimple -d /opt/homebrew/lib/mecab/dic/mecab-ipadic-neologd")

MECAB_DIC_PATH=""