# /usr/lib/x86_64-linux-gnu/mecab/dic/mecab-ipadic-neologd x86_64linux
# /opt/homebrew/lib/mecab/dic/mecab-ipadic-neologd mac?
MECAB_DIC_PATH=""

# db donfig
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=dbname
POSTGRES_SERVER=127.0.0.1