[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
scikit-learn = "*"
pandas = "*"
sqlalchemy = "==1.4.46"
mecab-python3 = "*"
unidic-lite = "*"
feedparser = "*"
python-dotenv = "*"
psycopg2-binary = "*"
httpx = "*"
minio = "*"

[dev-packages]
pytest-mock = "*"
pytest = "*"
requests = "*"
flake8 = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
